* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 65.5%;
}

.body {
    width: 100%;
    height: 100%;
    background: bisque;
}